.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2e3532;
}

.navbar li {
    display: inline;
    float: right;
}

.navbar a {
    display: block;
    padding: 8px;
    background-color: #d2d4c8;
}

.flex {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}

.flex img {
    width: 100%;
}

.column {
    display:block;
    background-color: #d2d4c8;
}

.flex-2 {
    background-color: #bc0c06;
    display: block;
}

body {
    background-color: #e0e2db;
}

footer {
    background-color: #2e3532;
    display: flex;
    justify-content: space-between;
    color: #e0e2db;
}

#Copyright {
    background-color: #e0e2db;
    
}