.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: center;
    padding: 0;
}

.navbar li {
    display: flex;
    float: right;
    color:#e0e2db;
    padding-top: 20px;
}

.navbar img{
    width: 100%;
    float: left;
}

.navbar a {
    display: flex;
    color: #d2d4c8;
    text-decoration: none;
    padding-right: 20px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    color: #d2d4c8;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    align-content: center;
}

header {
    background-color: #2e3532;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.internalImg {
    overflow: hidden;
    height: 40%;
    width: 100%;
}

.internalImg img{
    width: 2000px;
}

.mainImg {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
}

.column {
    background-color: #d2d4c8;
    width: 20%;
    padding: 10px;
    margin: 10px;
    height: 350px;
}

.flex-2 {
    background-color: #bc0c06;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    margin: 10px;
    padding: 10px;
}

.internalBlock {
    display:flex;
    width: 90%;
    margin: 10px;
    flex-wrap: wrap;
    color: #e0e2db;
    margin: 10px;
    padding: 10px;
}

.internalTitle {
    
}

body {
    background-color: #e0e2db;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #2e3532;
    display: flex;
    justify-content: space-between;
    color: #e0e2db;
    padding-left: 10px;
    padding-right: 10px;
}
