body {
    background-color: black;
}

.wrapper {
    background-color: yellow;
    padding: 1rem;
    margin: 1rem;
}

h1 {
    color:black;
}

.imagewrap img{
    width: 100%;
}

.imagewrap p{
    position: absolute;
    top: 5rem;
    right: 4rem;
    width: 30%;
    color:black;
    font-size: 3rem;   
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width:700px){
    .imagewrap p{
        top: 6rem;
        font-size: 1.3rem;
    }
}